################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AndroidTest2/AndroidTest2
/MovieViewerWPF/bin
/MovieViewerWPF/obj
/WpfTest/obj/Debug
